/* External CSS */

/* Element selector */
h3 {
  color: green;
}

/* Class selector */
.external-text {
  font-size: 20px;
}

/* ID selector */
#id-selector {
  color: blue;
  font-weight: bold;
}

/* Box Model */
.box {
  width: 200px;
  height: 200px;
  background-color: lightcoral;

  /* padding: top right bottom left */
  padding: 10px 20px 30px;

  border: 3px solid black;
  margin: 30px auto;

  /* Center text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Parent & Child */
.parent {
  width: 300px;
  height: 150px;
  background-color: lightgray;
  margin: 20px auto;
}

.child {
  color: red;
  text-align: center;
  padding-top: 50px;
}

/* Increasing priority */
h1 {
  color: blue !important;
}

/* Hover & Transform */
.hover-box {
  width: 150px;
  height: 150px;
  background-color: teal;
  margin: 40px auto;
  transition: all 0.5s ease;
}

.hover-box:hover {
  background-color: orange;
  transform: rotate(20deg) scale(1.1);
  border-radius: 5000%;
}
